{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <div class="p-3 m-3">
        <div class="col-lg-5 rounded mx-auto border pt-4">
            <div class="text-center col">
                <img src="{% static '/logo/logo.jpg' %}" alt="" class="" style="height: 150px; border-radius: 50%;">
                <hr>
            </div>
            <h3 class="alert alert-success rounded-pill" style="text-align:center">Create an Account</h3>
            <form action="/signup" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
                {% endif %}

                <!-- First Name -->
                <div class="form-group">
                    <label for="">First Name</label>
                    <input type="text" name="firstname" id="" value="{{ values.first_name }}" class="form-control form-control-sm" placeholder="">
                </div>

                <!-- Last Name -->
                <div class="form-group">
                    <label for="">Last Name</label>
                    <input type="text" name="lastname" id="" value="{{ values.last_name }}" class="form-control form-control-sm">
                </div>

                <!-- Phone -->
                <div class="form-group">
                    <label for="">Phone</label>
                    <input type="text" name="phone" id="" class="form-control form-control-sm" value="{{ values.phone }}" placeholder="9876543210">
                </div>

                <!-- Email -->
                <div class="form-group">
                    <label for="">Email</label>
                    <input required type="email" name="email" id="" value="{{ values.email }}" class="form-control-sm form-control" placeholder="abc@gmail.com">
                </div>

                <!-- Password -->
                <div class="form-group">
                    <label for="">Password</label>
                    <input type="password" name="password" id="" class="form-control form-control-sm">
                </div>

                <!-- Position -->
                <div class="form-group">
                    <label for="">Position</label>
                    <input type="text" name="position" id="" value="{{ values.position }}" class="form-control form-control-sm" placeholder="">
                </div>

                <!-- Address -->
                <div class="form-group">
                    <label for="">Address</label>
                    <textarea name="address" class="form-control form-control-sm" placeholder="Your address">{{ values.address }}</textarea>
                </div>

                <!-- LinkedIn -->
                <div class="form-group">
                    <label for="">LinkedIn</label>
                    <input type="url" name="linkedin" id="" value="{{ values.linkedin }}" class="form-control form-control-sm" placeholder="https://linkedin.com/in/yourprofile">
                </div>

                <!-- Twitter -->
                <div class="form-group">
                    <label for="">Twitter</label>
                    <input type="url" name="twitter" id="" value="{{ values.twitter }}" class="form-control form-control-sm" placeholder="https://twitter.com/yourprofile">
                </div>

                <!-- Instagram -->
                <div class="form-group">
                    <label for="">Instagram</label>
                    <input type="url" name="instagram" id="" value="{{ values.instagram }}" class="form-control form-control-sm" placeholder="https://instagram.com/yourprofile">
                </div>

                <!-- Facebook -->
                <div class="form-group">
                    <label for="">Facebook</label>
                    <input type="url" name="facebook" id="" value="{{ values.facebook }}" class="form-control form-control-sm" placeholder="https://facebook.com/yourprofile">
                </div>

                <hr>
                <button type="submit" class="btn btn-sm btn-success col-lg-12">Create an account</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
